html, body {
  height:100%;
  width:100%;
  margin:0;
}


menu, .menu{
  z-index:1;
  position:fixed;
}

.menu.top-left {
  left: 10px;
  top: 10px;
}

.menu.bottom-left {
  left: 10px;
  bottom: 10px;
}

.menu.top-right {
  right: 10px;
  top: 10px;
}

.menu.bottom-right {
  right: 10px;
  bottom: 10px;
}

.spaced-inside {
  padding: 10px;
}

md-checkbox {
  margin: 8px;
  cursor: pointer;
  padding-left: 18px;
  padding-right: 0;
  line-height: 26px;
  min-width: 18px;
  min-height: 18px;
}

.checkboxdemoSelectAll .demo-legend {
  color: #3F51B5; }

.checkboxdemoSelectAll .demo-fieldset {
  border-style: solid;
  border-width: 1px;
  height: 100%; }

.checkboxdemoSelectAll .demo-select-all-checkboxes {
  padding-left: 30px; }
